body{
  background-image: url("../images/pokeball.jpg");
  background-position: center;
  line-height: 200%;

}

#container{
  border: 3px solid black;
  width: 40%;
  margin-left: 30%;
  margin-top: 10%;
  height: 350px;
  position: relative;
  background: white;
  overflow: auto;
}

#wrapper{
  width: 350px;
  height: 100px;
  padding: 20px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: -70px 0 0 -170px;
}

h1{
  font-size: 2em;
}

h2{
  font-size: 1.5em;
}

h3{
  font-size: 1.3em;
}

#start{
  margin-top: 25px;
  width: 100%;

}

button{
  cursor: pointer;
}

.choices{
  margin-right: 15px;

}

audio{
  display: none;
}
